// LISTS
// -----

// Unordered and Ordered lists
ul, ol {
	padding: 0;
	margin: 0 0 @baseMargin 20px;
}

ul ul, ul ol, ol ol, ol ul {
	margin-top: 3px;
	margin-bottom: 12px;
	font-size: @baseFontSize * .9;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
	margin-left: 26px;
	text-indent: -4px;
}

li {
	line-height: @baseLineHeight * 1.1;
	margin-bottom: 3px;
	&::-moz-list-bullet, &::-moz-list-number { color: lighten(@gray, 12%);}
}

.unstyled, .unstyled-list{
	margin-left: 0;
	li { list-style: none; }
	.unstyled { margin-left: @baseMargin; }
}

// Description Lists
dl {
	margin-bottom: @baseMargin;
}

dt,
dd {
	line-height: @baseLineHeight;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0  @baseMargin * .5 @baseMargin * .75;
	font-size: @baseFontSize * .9;
}

// line separated list
.lined-list {
	margin-left: 0;
	& > li { 
		border: 1px solid lighten(@gray, 38%);
		border-width: 0 0 1px 0;
		padding: 6px 4px 7px;
		margin-left: 0;
		list-style: none;
	}
	&:first-child {
		border-width: 1px 0;
	}	
	.lined-list {
		margin-left: @baseMargin;
		margin-bottom: 0;
		margin-top: 10px;
		li {
			&:first-child {
				border-top-width: 1px !important;
				margin-top: 4px;
			}
			&:last-child {
				border-bottom: 0;

				padding-bottom: 0;
			}
		}
	}
}

ol.lined-list {
	margin-left: 26px;
	li { list-style-type: decimal }
}


// Option to give extra bottom margin to 
// a whole list or individual list items
ul.spaced li, li.spaced { margin-bottom: @baseFontSize; }