// SPRITES
// Glyphs and icons for buttons, nav, and more
// -------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class 
// of .i and are then given a unique class to add width, height, 
// and background-position. Your resulting HTML will look like
// <i class="i icon-inbox"></i>.

// For the white version of the  icons, just add the .icon-white class:
// <i class="i icon-inbox icon-white"></i>

.pictos-size(@size){
	width: @size;
	height: @size;
	font-size: @size;
	
	&:after { line-height: @size * 1.25; }
}

[class^="pictos-"] {
	display: inline-block;
	vertical-align: middle;
	
	-webkit-font-smoothing: antialiased;
	
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-align: center;
	
	.pictos-size(16px);	
	.ie7-restore-right-whitespace();
	
}

[class^="pictos-arrow-"] { font-family: 'Pictos Custom'; }

.pictos-arrow-right:after, 
.pictos-arrow-down:after, 
.pictos-arrow-left:after, 
.pictos-arrow-up:after								{ content: "a"; }

.pictos-arrow-circle-down:after, 
.pictos-arrow-circle-left:after, 
.pictos-arrow-circle-up:after, 
.pictos-arrow-circle-right:after					{ content: "b"; }

.pictos-arrow-chevron-right:after, 
.pictos-arrow-chevron-down:after, 
.pictos-arrow-chevron-left:after, 
.pictos-arrow-chevron-up:after						{ content: "c"; }

.pictos-arrow-chevron-circle-right:after, 
.pictos-arrow-chevron-circle-down:after, 
.pictos-arrow-chevron-circle-left:after, 
.pictos-arrow-chevron-circle-up:after				{ content: "d"; }

.pictos-arrow-caret-down:after, 
.pictos-arrow-caret-left:after, 
.pictos-arrow-caret-up:after,
.pictos-arrow-caret-right:after						{ content: "e"; }

.pictos-arrow-caret-circle-down:after, 
.pictos-arrow-caret-circle-left:after, 
.pictos-arrow-caret-circle-up:after,
.pictos-arrow-caret-circle-right:after				{ content: "f"; }

.pictos-arrow-resize-width:after,
.pictos-arrow-resize-height:after					{ content: "g"; }

.pictos-arrow-repeat:after							{ content: "h"; }
.pictos-arrow-refresh:after							{ content: "i"; }
.pictos-arrow-zoom-in:after							{ content: "j"; }

.pictos-arrow-download:after,
.pictos-arrow-upload:after							{ content: "k"; }

.pictos-arrow-move:after							{ content: "l"; }
.pictos-arrow-zoom-in-alt:after						{ content: "m"; }
.pictos-arrow-zoom-out:after						{ content: "n"; }

.pictos-arrow-swoosh-left:after,
.pictos-arrow-swoosh-right:after					{ content: "o"; }

.pictos-arrow-swoosh-box-left:after,
.pictos-arrow-swoosh-box-right:after				{ content: "p"; }


// Rotate 90° clockwise
.pictos-arrow-down,
.pictos-arrow-circle-left,
.pictos-arrow-chevron-down,
.pictos-arrow-chevron-circle-down,
.pictos-arrow-caret-left,
.pictos-arrow-caret-circle-left,
.pictos-arrow-resize-height { .rotate(90deg); }

// Rotate 180°
.pictos-arrow-left,
.pictos-arrow-circle-up,
.pictos-arrow-chevron-left,
.pictos-arrow-chevron-circle-left,
.pictos-arrow-caret-up,
.pictos-arrow-caret-circle-up,
.pictos-arrow-upload { .rotate(180deg); }


// Flip 180°
.pictos-arrow-swoosh-right,
.pictos-arrow-swoosh-box-left { .rotateY(180deg); }

// Rotate 90° counter-clockwise
.pictos-arrow-up,
.pictos-arrow-circle-right,
.pictos-arrow-chevron-up,
.pictos-arrow-chevron-circle-up,
.pictos-arrow-caret-right,
.pictos-arrow-caret-circle-right { .rotate(-90deg); }




.btn [class^="pictos-"] { 
	.pictos-size(16px);
	margin-top: -2px;
}

.btn-small [class^="pictos-"] { .pictos-size(14px); }
.btn-large [class^="pictos-"] { .pictos-size(20px); }

.pictos-12, .btn .pictos-12 { .pictos-size(12px); }
.pictos-24, .btn .pictos-24 { .pictos-size(24px); }
.pictos-32, .btn .pictos-32 { .pictos-size(32px); }