// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Primary color hues
@white:                 #FFF;
@black:                 #030303;
@gray: 					#87898b;
@teal:                  #17AECB;
@green:                 #86C240;
@red:                   #C30;
@yellow:				#F7B312;
@orange:				#D6751E;
@purple:				#5A4A5E;
@aqua:					#7EC0B0;
@blue:                  #329ABD;
@tan:					#B7B38C;
@navy:					#3A576C;

// Nicknames
// gray
@grayDarker:            darken(@gray, 35%);
@grayDark:              darken(@gray, 26%);
@grayLight:             lighten(@gray, 10%);
@grayLighter:           lighten(@gray, 18%);
@grayLightest:          lighten(@gray, 42%);
// teal
@tealDarker:            desaturate(@teal, 65%);
@tealDark:              desaturate(@teal, 34%);
@tealLight:             desaturate(lighten(@tealDark, 35%),10%);
@tealLighter:           lighten(@tealDark, 51%);
// other
@greenDark:				darken(@green, 13%);


// Links
@linkColor:             @teal;
@linkColorHover:        darken(@linkColor, 15%);



// Typography
@baseFontFamily:        'Helvetica Neue', Helvetica, Arial, sans-serif;
@baseFontSize:          14px;
@baseLineHeight:        1.3;
@textColor:             @grayDark;
@baseMargin:			15px;

// Buttons
@primaryButtonBackground:    @linkColor;

// Boxes
@boxActionBackground:		 @tealLighter;

// Paths
@bootstrapImageURL: 		"../img";

// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:        1000;
@zindexPopover:         1010;
@zindexTooltip:         1020;
@zindexFixedNavbar:     1030;
@zindexModalBackdrop:   1040;
@zindexModal:           1050;

// Input placeholder text color
@placeholderText:       @grayLight;

// Navbar
@navbarHeight:                    40px;
@navbarBackground:                lighten(@gray, 36%);
@navbarBackgroundHighlight:       @white;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @gray;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:			  @greenDark;

// Form states and alerts
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);



// GRID
// --------------------------------------------------

// Default 940px grid
@gridColumns:             12;
@gridColumnWidth:         60px;
@gridGutterWidth:         20px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
@fluidGridColumnWidth:    6.382978723%;
@fluidGridGutterWidth:    2.127659574%;
